:root{
    --bg-color: #f4f3ed;
    --my-grey: #424242;
    --my-light-grey: #999999;
}

@font-face {
    font-family: 'Minerva Regular';
    src: url(../fonts/fonnts.com-MinervaModern_Regular.otf);
}

body{
    margin: 3% 20%;
    padding: 0;
    background-color: var(--bg-color);

    font-family: 'Minerva Regular';
    color: var(--my-grey);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

.nav-left, .nav-right {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex: 2;
    align-items: center;
}

.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-center img {
    width: 250px;
    display: block;
}

.navbar a{
    text-decoration: none;
    color: var(--my-grey);
    padding: 10px;
    text-transform: uppercase;

    /*questo mi serve per avere l'icona della tendina sempre di fianco*/
    display: inline-flex;
    align-items: center;
    gap: 6px;
    border-radius: 3px;
}

.navbar a:hover{
    color: var(--bg-color);
    background-color: var(--my-grey);
}


/*questo mi serve per il colore di hover*/
.navbar i{
    transition: inherit;
    color: inherit;
}






.title{
    text-align: center;
    color: var(--my-grey);
    font-weight: normal;
    margin-top: 5%;
}

.title h1{
    font-weight: normal;
    font-size: 3rem;
}

.title h2{
    font-weight: normal;
    font-size: 1.2rem;
}





.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 20px;
    row-gap: 40px;
    padding: 20px;
    width: 100%;
}

.cell{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.img_container img{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.icon_container{
    padding: 15px 15px;
}

i{
    color: var(--my-grey);
    font-size: 1.2rem;
}

.title_container{
    padding: 0px 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.line_container{
    padding: 0px 15px;
}

hr{
    width: 100%;
}

.description_container{
    padding: 0px 15px;
}

.prezzo{
    color: var(--my-light-grey);
    margin-bottom: 0px;
}

.price_container{
    display: flex;
    justify-content: space-between;
}

.costo{
    font-weight: bold;
}

.iva{
    display: inline;
    margin-right: 0px !important;
    margin-left: auto !important;
    background-color: var(--bg-color);
    text-transform: uppercase;
    padding: 5px;
}

.dettagli{
    height: 3rem;
    text-align: left;
    align-items: center; /*questo mi serve per allineare verticalmente*/
    padding: 10px;
    margin: 10px;
    background-color: inherit;

    display: flex;
    justify-content: space-between;
    border: 2px var(--my-grey) solid;
    border-radius: 3px;

    margin-top: auto; /*per avere il bottone sempre in fondo alla cella*/
}

.dettagli p{
    display: inline !important;
    font-family: 'Minerva Regular';
    color: var(--my-grey);
    font-size: 1.1rem;
}

.img_container_large{
    grid-column: span 2 !important;
    margin-right: -40px; /*questo deve esser uguale al grid gap per avvicinare l'immagine alla sua descrizione*/
}

.img_container_large img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description_container_right{
    display: flex;
    flex-direction: column;
}